@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --purple:#6311a8;
    --off-white: #ccccce;
    --blue: #4d27cd;
    --blue-left: #1c0362;
    --dark-blue: #0e123a;
    --dark-blue-left: #141748;
    --off-dark-blue: #15253a;
    --extra-dark: #0d131b;
    --light-blue: #1264e7;
    --aqua: #22cfea;
    --sixth-blue: #012c91;
    --dark-green: #00834c;
    --light-green: #01b769;

}
*{
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 800vh;
    width: 100%;
}
.space-filler{
    width: 100%;
    height: 100vh;
}
.hero{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}
.text-section{
    width: 46%;
    background: var(--purple);
    color: #fff;
    height:100%;
    display: flex;
    padding-left: 3rem;
    align-items: flex-end;
    position: relative;
    z-index: 5;
}
.main-text{
    height: max-content;
    margin-bottom: 2rem;
}
.btn-skip{
    text-transform: uppercase;
    background: transparent;
    margin-left: auto;
    margin-bottom: 2rem;
    margin-right: 6rem;
    border: none;
    color: rgba(255, 255, 255, 0.712);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.badge-container{
    height: 6rem;
    overflow: hidden;   
}
.badge-wrapper{
    list-style: none;
}
.badge-wrapper li{
    height: 6rem;    
}
.badge{
    height: 100%;
}
.headings{
    height: 5rem;
    overflow-y: hidden;
}
.headings-wrapper{
    margin: auto;
}
.heading{
    height:5rem;
    font-size: 4rem;
}
.description-wrapper{
    max-width: 16rem;
    margin: 1rem 0;
}
.btn-case-study{
    font-size: 1rem;
    margin-top: 3rem;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.main-text img{
    margin-bottom: 1rem;
}
.circle-center{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    background: var(--purple);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,30%);
}
.circle-center .main-heading-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 24%;
}
.main-heading-container{
    height: 9rem;
    overflow: hidden;
}
.main-heading-wrapper{
    width: max-content;
    list-style: none;
}
.main-heading-wrapper li{
    height: 9rem;
    width: max-content;
    margin-left: auto;
}
.main-heading-before,
.main-heading-after{
    font-size: 1.1rem;
    font-weight: 500;
}
.main-heading{
    font-size: 4rem;
}
.main-heading-after{
    text-align: right
}
.main-heading-image{
    height: 5rem;
    margin: 2px 0;
}
.image-section{
    width: 56%;
    position: relative;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--off-white);
    height: 100vh;
}
.first-section-images{
    width: 42%;
    position: absolute;
    left: 30%;
    transform: translate(-50%,-50%);
    top: 50%;
    opacity: 0;
}
.first-section-image-2{
    left: 65%;
}

.second-section-images{
    width: 32%;
    position: absolute;
    bottom: 0;
    opacity: 0;
}
.second-section-image-1{
    left: 20%;
    transform: translateY(11%)
}
.second-section-image-2{
    top: -11%;
    right: 10%;
}


.third-section-images{
    width: 37%;
    position: absolute;
    opacity: 0;
}
.third-section-image-1{
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.third-section-image-2{
    right: 5%;
    top: -20%;
    width: 31%;
}


.fourth-section-images{
    position: absolute;
    opacity: 0;
}
.fourth-section-image-1{
    width: 33%;
    left: 10%;
    bottom: -5%;
}
.fourth-section-image-2{
    right: 15%;
    top: 10%;
    width: 30%;
}
.fourth-section-image-3{
    top: 0;
    transform: translateY(-30%);
    left: 0;
    width:45%;
}
.fourth-section-image-4{
    right: 0;
    top: 0;
    transform: translateY(-50%);
    width: 18%;
}
.fourth-section-image-5{
    right: 0;
    bottom: 0;
    transform: translate(5%,20%);
    width: 35%;
}


.fifth-section-images{
    position: absolute;
    opacity: 0;
}
.fifth-section-image-1{
    top: 0;
    left: 15%;
    width: 25%;
    transform: translateY(-30%);
}
.fifth-section-image-2{
    top: 0;
    left: 40%;
    width: 25%;
    transform: translateY(-4%);
}
.fifth-section-image-3{
    left: 15%;
    bottom:0;
    transform: translateY(20%);
    width: 25%;
}
.fifth-section-image-4{
    left: 40%;
    width: 25%;
    bottom: 0;
    transform: translateY(50%);
}
.fifth-section-image-5{
    right: 4%;
    top: 50%;
    transform: translateY(-45%);
    width: 30%;
}

.sixth-section-images{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.seventh-section-images{
    position: absolute;
    opacity: 0;
}
.seventh-section-image-1{
    left: 22%;
    width: 47%;
    bottom: 0;
    transform: translateY(20%);
    z-index: 2;
}
.seventh-section-image-2{
    width: 38%;
    left: 55%;
    bottom: 0;
    transform: translateY(10%);
    z-index: 1;
}
.mobile-container{
    display: none !important;
}
.mobile-container img{
    display: none !important;
}
.owl-carousel{
    z-index: -1 !important;
}


/* SVG styles */
.dotsfill2,
.dotsfill3,
.dotsfill4,
.dotsfill5,
.dotsfill6,
.dotsfill7{
    opacity: 0.2;
}

/* Media queries */

@media only screen and (max-width: 1000px) {
    .container{
        display: none;
    }
    .owl-carousel{
        z-index: 1 !important;
    }
    .mobile-container{
        display: block !important;
        width: 100%;
        height: 100vh;
    }
    .mobile-container img{
        display:  block !important;
    }
    .owl-carousel{
        z-index: 1 !important;
    }
    .slide{
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .slide-2 .image-section-mobile{
        background: var(--blue-left);
    }
    .slide-2 .text-section-mobile{
        background : linear-gradient(to right, #e100ff,  #7f00ff);
    }
    .slide-3 .image-section-mobile{
        background: var(--dark-blue-left);
    }
    .slide-3 .text-section-mobile{
        background: var(--dark-blue);
    }
    .slide-4 .text-section-mobile{
        background: var(--off-dark-blue);
    }
    .slide-4 .image-section-mobile{
        background: var(--extra-dark);
    }
    .slide-5 .text-section-mobile{
        background: var(--light-blue);
    }
    .slide-5 .image-section-mobile{
        background: var(--aqua);
    }
    .slide-6 .text-section-mobile{
        background: var(--sixth-blue);
    }
    .slide-6 .image-section-mobile{
        background-image: url('Assets/furniture-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .slide-7 .image-section-mobile{
        background: var(--light-green);
    }
    .slide-7 .text-section-mobile{
        background: var(--dark-green);
    }
    .image-section-mobile{
        background: var(--off-white);
        height: 60%;
        position: relative;
    }
    .text-section-mobile{
        height: 40%;
        background: var(--purple);
        position: relative;
        z-index: 3;
        color: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first-section-images-mobile{
        width: 60% !important;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
    }
    .first-section-images-mobile:last-child{
        left: 50%;
    }
    .heading-mobile{
        font-size: 4rem;
    }
    .description-mobile{
        font-size: 1.3rem;
    }
    .btn-case-study{
        width: max-content;
        font-size: 1.5rem;
    }
    .badge-1{
        width: 40% !important;
        position: absolute;
        top: 0;
        transform: translateY(-20%);
        border: 2px solid var(--purple);
        border-radius: 10px;
    }
    .badge-2{
        border-color: var(--dark-green);
    }
    .second-section-images-mobile{
        position: absolute;
        width: 45% !important;
    }
    .second-section-image-mobile-1{
        left: 2%;
        bottom: 0;
    }
    .second-section-image-mobile-2{
        right: 2%;
        top: 0;
    }
    .third-section-images-mobile{
        width: 46% !important;
        position: absolute;
    }
    .third-section-image-mobile-1{
        left: -3%;
        bottom: 0;
        width: 60% !important;
        transform: translateY(30%)
    }
    .third-section-image-mobile-2{
        transform: translateY(-30%);
        right: 3%;
        top: 0;
    }

    .fourth-section-images-mobile{
        position: absolute;
    }
    .fourth-section-image-mobile-1{
        width: 40% !important;
        left: 5%;
        bottom: 0;
        transform: translateY(30%);
    }
    .fourth-section-image-mobile-2{
        width: 40% !important;
        left: 45%;
        top: 0;
        transform: translateY(-10%)
    }
    .fourth-section-image-mobile-3{
        width: 30% !important;
        left: 0;
        top: 0;
    }
    .fourth-section-image-mobile-4{
        width: 30% !important;
        right: 0;
        top: 0;
        transform: translate(60%,-70%)
    }
    .fourth-section-image-mobile-5{
        width: 30% !important;
        right: 0;
        bottom: 0;
        transform: translate(50%,30%)
    }
    .fourth-section-image-mobile-6{
        width: 20% !important;
        right: 0;
        top: 50%;
        transform: translate(40%,-50%)
    }
    .fourth-section-image-mobile-7{
        width: 40% !important;
        left: 45%;
        bottom: 0;
        transform: translateY(50%)
    }

    .fifth-section-images-mobile{
        position: absolute;
        width: 30% !important;
    }
    .fifth-section-image-mobile-1{
        left: 2%;
        top: 0;
        transform: translateY(-40%);
    }
    .fifth-section-image-mobile-2{
        left:34%;
        top: 0;
        transform: translateY(-4%)
    }
    .fifth-section-image-mobile-3{
        left: 2%;
        bottom: 0;
        transform: translateY(10%);
    }
    .fifth-section-image-mobile-4{
        left: 34%;
        transform: translateY(70%);
        bottom: 0;
    }
    .fifth-section-image-mobile-5{
        left: 66%;
        transform: translateY(-50%);
        top: 50%;
    }
    .sixth-section-images-mobile{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .seventh-section-images-mobile{
        position: absolute;
        width: 50% !important;
    }
    .seventh-section-image-mobile-1{
        left: 12%;
        bottom: 0;
        transform: translateY(40%);
        z-index: 1;
    }
    .seventh-section-image-mobile-2{
        left:47%;
        bottom:0;
        transform: translateY(50%);
        width: 40% !important;
        z-index: 0;
    }
    .owl-dots{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;
        z-index: 10;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 5px;
        background: rgba(238, 238, 238, 0.39) !important;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.active{
        background: rgba(236, 236, 236, 0.959) !important;
    }
    .btns{
        display: flex;
        align-items: center;
    }
    .coming-soon-btn{
        background: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .coming-soon-btn-1{
        background: rgb(238, 7, 161);
        color: #fff;
    }
}
@media only screen and (max-width:660px) {
    .image-section-mobile{
        height: 50%;
    }
    .text-section-mobile{
        height: 50%;
    }
}
@media only screen and (max-width: 500px){
    .first-section-images-mobile{
        transform: translateY(20%)
    }
    .heading-mobile{
        font-size: 2.5rem;
    }
    .text-section-mobile{
        padding: 1rem;
    }
    .description-mobile{
        font-size: 1rem;
    }
    .btn-case-study{
        font-size: 1.1rem;
        margin-top: 1rem;
    }
    .coming-soon-btn{
        margin-top: 1rem;
    }
}